<section id="gallery"> 
    <div class="content--background">
        <h1>Hall Of Fame </h1> 
    </div>

    <div id="content--zone">
        <div class="content--card">
            {{#each rooms}}
            <div class="room--gallery">
                <div class="room--gallery__image"> 
                    <h2>{{room-name}}</h2>
                </div>
                <div class="room--place">  
                    <a href="{{images1}}" class="lightbox">
                        <img src="{{images1}}"/>
                    </a>
                    <div class="room--place__number"> <p> {{place-number1}} </p></div>
                </div>
                <div class="room--place">
                    <a href="{{images2}}" class="lightbox">
                        <img src="{{images2}}"/>
                    </a>
                    <div class="room--place__number"> <p> {{place-number2}} </p></div>
                </div>
                <div class="room--place">
                    <a href="{{images3}}" class="lightbox">
                        <img src="{{images3}}"/>
                    </a>
                    <div class="room--place__number"> <p> {{place-number3}} </p></div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>   
</section>
